.couch-icon {
  font-size: 30px;
  transform: rotate(-180deg);
}

.couch-icon-map {
  font-size: 30px;
}

.chat-bubble {
  position: relative;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.couch-icon:hover {
  cursor: pointer;
  color: #f4c876;
}

.z-icon {
  z-index: 200px !important;
}

.empty {
  color: #8b8989;
}

.selected {
  color: #f4c876;
}

.booked {
  color: #b40100;
}

.seat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
}

@keyframes ping {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.ping {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red; /* Set color to red */
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) forwards;
}

@media screen and (min-width: 768px) {
  .seat-grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .seat-grid {
    grid-template-columns: repeat(30, 1fr);
  }
}
