@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --color-primary: #732e1c;
  --color-primary-light: #f08165;
  --color-primary-transparent: #732d1c61;
  --color-secondary: #b40000;
  --color-tertiary: #0000ff;
  --color-dark: #090808;
  --color-theme-green: #00913c;
  --color-gray: #808080;
  --color-theme-gray: #6a6a6a;
  --color-light-gray: #f2f4ff;
  --color-dark-gray: #1f1f1f; /* Dark Mode Colors */
  --color-dark-blue: #1a202c;
  --color-dark-blue-hover: #2d3748;
  --color-dark-green: #2f855a;
  --color-dark-red: #9b2c2c;
  --color-dark-yellow: #d97706;
  --color-dark-purple: #6b46c1;
}

::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none !important;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-size: 16px;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  border-radius: 3px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin-top: 2px;
}

.dropdown-options li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-options li:hover {
  background-color: #ebc2b8;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border: none;
}

.search-input::placeholder {
  color: var(--color-dark);
}

.box-shadow-theme {
  box-shadow: 0px 0px 10px 0px #f08165;
}

.react-multiple-carousel__arrow {
  background: rgba(115, 45, 28, 0.545) !important;
}

.react-multiple-carousel__arrow:hover {
  background: #732e1c !important;
  box-shadow: 0px 0px 10px 0px #f08165 !important;
}

.react-multi-carousel-list {
  padding: 10px 0 !important;
}

.react-multiple-carousel__arrow {
  z-index: 50 !important;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: var(--color-secondary);
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

ul {
  list-style-type: none;
}

ul li::marker {
  color: var(--color-primary);
  font-size: 1.2em;
}

.account-nav-active {
  background: #ababab98;
  color: var(--color-primary);
  font-weight: bold;
  border-right: 5px solid var(--color-primary);
}

.account-nav:hover {
  background: #ababab98;
  border-right: 5px solid var(--color-primary);
}

.react-daterange-picker__wrapper {
  border: none !important;
}

.react-daterange-picker__inputGroup {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  color: var(--color-primary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.react-daterange-picker__calendar .react-calendar {
  border: none !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px 0px #8e4c3c !important;
}

.react-calendar__tile--active {
  background: var(--color-primary) !important;
  color: white;
}

.react-calendar__tile--now {
  background: var(--color-primary-transparent) !important;
}

.react-time-picker__wrapper {
  border: none !important;
}

.react-time-picker__clock {
  border: none !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px 0px #8e4c3c !important;
}

.react-time-picker__inputGroup {
  color: var(--color-primary) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.react-calendar__month-view__weekdays {
  background: var(--color-primary) !important;
  color: white !important;
}

.css-wmy1p7-ReactDropdownSelect {
  border: none !important;
  padding: 6px !important;
}

.css-9ma7ck-OptionComponent {
  background: var(--color-primary) !important;
  color: white !important;
  font-size: 14px !important;
  padding: 0 15px !important;
}

.css-z2hyoe-ItemComponent.react-dropdown-select-item-selected {
  background: #ccada6 !important;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.css-z2hyoe-ItemComponent {
  font-size: 14px !important;
}

.css-iazlts-DropDown {
  border: none !important;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-clock__mark__body {
  background-color: #732e1c !important;
}

.react-clock__face {
  border: 1px solid #732e1c !important;
}

.react-date-picker__inputGroup {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.react-calendar {
  border: none !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px 0px #8e4c3c !important;
}

.odd {
  background-color: #e4ecf5 !important;
}

.even {
  background-color: #fff !important;
}

tr > td {
  padding: 0.7rem !important;
  font-size: medium !important;
}

#attendee_table_info {
  font-size: medium !important;
  color: #696969 !important;
}

body .paginate_button.current {
  color: red !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: var(--color-primary) !important;
  color: #fff !important;
  /* border-radius: 8px !important; */
  border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: inherit !important;
  border: none !important;
  /* border-radius: 8px !important; */
  background: var(--color-primary-light) !important;
}

#attendee_table_next {
  background: var(--color-primary) !important;
  color: #fff !important;
}

#attendee_table_filter {
  margin: 5px 0 !important;
}

#attendee_table_filter input[type="search"] {
  border: 2px solid var(--color-primary) !important;
  outline: none !important;
  border-radius: 8px !important;
  background: #dbe8f4 !important;
  padding: 10px !important;
  width: 300px !important;
  color: var(--color-primary) !important;
}

#attendee_table_length {
  margin: 10px 0 !important;
}

#attendee_table_length label {
  margin: 0 !important;
  font-size: medium !important;
  color: var(--color-primary) !important;
}

#attendee_table_length select {
  border-radius: 8px !important;
  background: #dbe8f4 !important;
  padding: 10px !important;
  margin: 0 10px !important;
  width: 100px !important;
  border: 2px solid var(--color-primary) !important;
  outline: none !important;
}

.paginate_button.previous.disabled {
  background: #bdc2c9 !important;
}

#attendee_table_previous {
  background: var(--color-primary) !important;
  color: #fff !important;
}

.created-at-cell {
  font-size: medium !important;
  color: #f59104 !important;
}

.dropdown-container {
  background-color: rgba(0, 0, 0, 0.136);
}
